<h1 md-dialog-title class="title-card-sub">Enter Details</h1>
<div>
  <form [formGroup]="addAdminForm" (ngSubmit)="doSignIn">
		<div class="columns large-12 small-12">
			<!--USERNAME FIELD -->
			<div class="form-group">
        <input type="text" formControlName="username" class="form-control input-group-field" placeholder="Username" />
		  </div>
		</div>
		
		<div class="columns large-12 small-12">
			<!-- PASSWORD FIELD -->
			<div class="form-group">
				<input type="password" formControlName="password" class="form-control input-group-field" placeholder="Password" />
			</div>
    </div>
		<div>
      <span><button (click)="addAdminUser()" class="button-small-active">Add</button></span>
			<span><button  class="button-small-active">Cancel</button></span>
    </div>
	</form>
</div>