.container{
    max-width: 700px;
}

.full-width {
	width: 100%;
}

a {
	text-decoration: underline;
	color: #000;
}

button {
	height: 50px;
	border: 3px solid #FCD8E2;	
	border-radius: 25px;
	background-color: #FFFFFF;
	font-weight: 600;
	line-height: 24px;
	color: rgba(0,0,0,0.87);
}

.display-flex{
	display : flex;
	list-style-type: none;
}

.flexItem-width {
	width : 50%;
}

.select {
	    margin: 1rem 0.5rem;
}

select {
	height: 6%;	
	border: 1px solid #767676;	
	border-radius: 4px;	
	background-color: #FFFFFF; 
}

.date-select {
	width: 24%
}

.question {
	margin-top: 4rem;
}

.opList {
	margin: 0 0 2rem;
}

.optionList {
	color: rgba(0,0,0,0.87);
    font-family: "Open Sans";
    font-size: 16px;
    letter-spacing: 0.51px;
    line-height: 1.5rem;
}

.option-subTitle {
	min-height: 7rem;
	margin: 1rem 0;
}

.optionList-width {
	width: 140%;
	margin: 1rem 0;
}

.button-small-active {
	height: 50px;	width: 165px;	border-radius: 25px;	background-color: #FCD8E2;	box-shadow: 0 0.5px 0 0 #9B9B9B; float:right; margin: 0.5rem;
}

.button-small{
	height: 50px;	width: 165px;	border-radius: 25px; background-color: #FFFFFF; float:right; border: 3px solid #FCD8E2; box-shadow: none; margin: 0.5rem;
}

[type=checkbox] {
    margin: 1rem 1rem 0 0;
    padding-top: 1rem;
    height: 18px;
    width: 18px;
    text-align: center;
    vertical-align: sub;
}

[type=text]:focus {
	border: none;
}

.left-float {
	float: left;
}

/deep/ .questionnaire .mat-form-field-underline .mat-form-field-ripple{
	display : none;
}

/deep/ .questionnaire{
	
 .mat-form-field-infix {
	border-top: 0;
  }

  input.mat-input-element {
    margin-top: 0;
    //border-bottom: 1px solid;
  }

  .mat-radio-label {
  	white-space: inherit;
  }
}

mat-radio-button {
	padding: 0.5rem 0;
}

/* Medium and up */
@media screen and (min-width: 40em) {
	.button { 
		width: 310px;
	}
}

/* Small only */
@media screen and (max-width: 39.9375em) {
	.display-flex {
	    display: contents;
	}

	.column:last-child:not(:first-child), .columns:last-child:not(:first-child) {
	    float: left;
	}
}