.global-nav {
    display: -ms-flexbox;
    display: flex;
    font-size: .8125rem;
    font-weight: 700;
    height: 6rem;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    background: linear-gradient(90deg, #FFF7F9 0%, #FCD8E2 100%);
    padding: 1rem;
}

.global-nav-title {
    line-height: 24px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    -ms-flex-pack: center;
    justify-content: center;
    color: #474679;
    font-family: Karla; font-size: 21px;  font-weight: bold;
}

.global-nav-title a {
  color: #474679 !important;
  text-decoration: none;
  font-size: 21px;
}

.show-for-small {
    display: none;
    padding: 1rem 0;
    margin: 0.5rem 0;
    list-style: none;

    /deep/ .mat-menu-item a{
      font-family: "Open Sans";
      color : #000000c4;
    }
}
.menu {
    margin: 0;
    list-style-type: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-align: center;
    align-items: center;
    width: auto;
}
.menu, .menu.horizontal {
    flex-wrap: nowrap;
}
.menu > .menu-item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;

    color: #2A2A46; font-family: "Open Sans"; font-size: 17px;  line-height: 23px;

}
.global-nav .menu a {
    color: #000000c4;
    height: 45px;
    line-height: 45px !important;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}
.menu > li > a {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    padding: .7rem 2rem;
    text-decoration: none;
}


/* Demo 2 */
#demo-2 input[type=search] {
  width: 15px;
  padding-left: 10px;
  color: transparent;
  cursor: pointer;
}
#demo-2 input[type=search]:hover {
  background-color: #fff;
}
#demo-2 input[type=search]:focus {
  width: 130px;
  padding-left: 32px;
  color: #000;
  background-color: #fff;
  cursor: auto;
}
#demo-2 input:-moz-placeholder {
  color: transparent;
}
#demo-2 input::-webkit-input-placeholder {
  color: transparent;
}

/* Large and up */
@media screen and (min-width: 64em) {
   padding-left: 1rem;
}

/* Small only */
@media screen and (max-width: 39.9375em){
  .hide-for-small {
    display: none !important;
  }
  .global-nav-title {
    padding-left: 0;
  }
  .show-for-small {
    display: block !important;
  }
  #search {
    line-height: 65px;
  }
}