<!--nav class="navbar">
	<div class="navbar-brand">
	<a class="navbar-item">
		<img src="https://bulma.io/images/bulma-logo.png">
	</a>
	</div>
</nav-->
<nav class="global-nav">
	<div class="global-nav-title">
		<a href="#/home">
			<img class="logo" src="././assets/images/CCTlogo.png">
		 	<span class="CCT-Title">Clinical Trials Connect</span>
		</a>
	</div>
	<ul class="menu right-side hide-for-small">
		<li class="menu-item"><a [routerLink]="['/breastCancer']">Breast Cancer</a></li>
		<li class="menu-item"><a [routerLink]="['/about']">About</a></li>
		<li class="menu-item"><a [routerLink]="['/myaccount']">My Account</a></li>
		<!--li class="menu-item"><a href="#/myaccount" *ngIf="auth.isLoggedIn()">My Account</a></li-->
		<li class="menu-item">
			<form id="demo-2">
				<!--input type="search" placeholder="Search"-->
					<i class="material-icons"> power_settings_new </i>
			</form>
		</li>
	</ul>

	<ul class="right-side burger-menu show-for-small">
		<li class="menu-item">
		<button mat-button [matMenuTriggerFor]="menu"><i class="material-menu"> menu </i></button>
		<mat-menu #menu="matMenu">
			<form mat-menu-item id="logout">
				<i  class="material-icons" matTooltip="Log-Out" #tooltip="matTooltip"> power_settings_new</i> 
			</form>
		  <button mat-menu-item><a [routerLink]="['/breastCancer']">Breast Cancer</a></button>
		  <button mat-menu-item><a [routerLink]="['/about']">About</a></button>
		  <button mat-menu-item><a [routerLink]="['/myaccount']">My Account</a></button>
		</mat-menu>
		</li>
	</ul>
</nav>

