<div class="admin">
	<mat-tab-group>
		<mat-tab label="Users">
			<!-- <span class="float-left"><button (click)="next(e)" class="button-small-active">Create new user</button></span>
			<br/>  -->
			<!--div class="title-card-sub">List of Users</div-->
			<div class="users-table">
				<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="margin-top: 2rem;">

				  <ng-container matColumnDef="Id">
				    <th mat-header-cell *matHeaderCellDef> Id</th>
				    <td mat-cell *matCellDef="let element">
				   {{element.account.id}}</td>
				  </ng-container>
				  <!-- href="#/individualtrial/{{element.id}} -->

				  <ng-container matColumnDef="Name">
				    <th mat-header-cell *matHeaderCellDef> Name </th>
				    <td mat-cell *matCellDef="let element">{{element.account.firstName}} {{element.account.lastName}}</td>
				  </ng-container>

				  <ng-container matColumnDef="Email">
				    <th mat-header-cell *matHeaderCellDef> Email </th>
				    <td mat-cell *matCellDef="let element"> <span class="">{{element.account.emailAddress}}</span> </td>
				  </ng-container>

				  <!--ng-container matColumnDef="Role">
				    <th mat-header-cell *matHeaderCellDef> Role </th>
				    <td mat-cell *matCellDef="let element"> {{element.role}} </td>
				  </ng-container-->

				  <ng-container matColumnDef="Action">
				    <th mat-header-cell *matHeaderCellDef> Action </th>
				    <td mat-cell *matCellDef="let element" class="text-center"> 
				    	<button [routerLink]="['/userdetails',element.quesId]" class="button-small">View Details</button>
						<button (click)="openConfirmationDialog(e)" class="button-small">Delete</button>
						<!-- <button (click)="downloadThisUser()" class="button-small">Download</button> -->
				    </td>
				  </ng-container>

				  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
				  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
				</table>
			</div>
			<span style="float: right;"><button (click)="exportAllUsers()" class="button-small-active">Export All Users</button></span>
		</mat-tab>
		<!-- <mat-tab label="Hospitals">
			<span class="float-left"><button (click)="addHospital(e)" class="button-small-active">Add Hospital</button></span> -->
			<!--div class="title-card-sub">List of Hospitals</div-->
			<!-- <div class="hospital-table">
				<table mat-table [dataSource]="dataSource1" class="mat-elevation-z8" >

				  <ng-container matColumnDef="Key">
				    <th mat-header-cell *matHeaderCellDef> Key</th>
				    <td mat-cell *matCellDef="let element">{{element.key}}</td>
				  </ng-container>

				  <ng-container matColumnDef="Hospital">
				    <th mat-header-cell *matHeaderCellDef> Hospital </th>
				    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
				  </ng-container>

				  <ng-container matColumnDef="Post Code">
				    <th mat-header-cell *matHeaderCellDef> Post Code </th>
				    <td mat-cell *matCellDef="let element"> <span class="">{{element.postcode}}</span> </td>
				  </ng-container>

				  <ng-container matColumnDef="Action">
						<th mat-header-cell *matHeaderCellDef> Action </th>
						<td mat-cell *matCellDef="let element" class="text-center"> 
							<button [routerLink]="['/hospitaldetails']" class="button-small">Edit</button>
							<button (click)="openConfirmationDialog()" class="button-small">Delete</button>
							<button (click)="seeTrials()" class="button-small">See Trials</button>
						</td>
				  </ng-container>
				  <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
				  <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
				</table>
			</div>
			<span style="float: right;"><button (click)="exportHospitalsAsXLSX()" class="button-small-active">Download All Hospitals</button></span>
		</mat-tab> -->
	</mat-tab-group>

</div>
