<div class="container">
	<div class="form-group"> 
		<span (click)="goBack($event)" class="form-back"> Back</span>
	</div>
	<div class="title-card-sub">User Details</div>
	<br/>
	<div class="row users-data">
		<div class="col-md-6">
			<form>
			
				<div class="form-group">
					<label for="name" class="group-label">User Name</label>
					<input type="text" class="form-control input-group-field" placeholder="Name"
					value="{{fullName}}" readonly/>
				</div>
				<!--div class="form-group">
					<label for="name">Stage</label>
					<input type="text" class="form-control input-group-field" placeholder="Stage"/>
				</div>
				<div class="form-group">
					<label for="name">Subtype</label>
					<input type="text" class="form-control input-group-field" placeholder="Subtype"/>
				</div>
				<div class="form-group">
					<label for="name">Summary</label>
					<input type="text" class="form-control input-group-field" placeholder="Summary"/>
				</div-->
				<!--div class="form-group">
					<label for="name">Location</label>
					<input type="text" class="form-control input-group-field" placeholder="Location"/>
				</div-->
				<div class="form-group">
					<label for="name" class="group-label">Postcode</label>
					<input type="text" class="form-control input-group-field" placeholder="Postcode" value="{{selectedUserObj.postCode}}" readonly/>
				</div>
				<!--div class="form-group">
					<label for="name">ClinicalTrials.gov</label>
					<input type="text" class="form-control input-group-field" placeholder="ClinicalTrials.gov"/>
				</div>
				<div class="form-group">
					<label for="name">ANZCTR</label>
					<input type="text" class="form-control input-group-field" placeholder="ANZCTR"/>
				</div>
				<div class="form-group">
					<label for="name">BCT</label>
					<input type="text" class="form-control input-group-field" placeholder="BCT"/>
				</div-->
				<div class="form-group">
					<label for="name" class="group-label">Age</label>
					<input type="text" class="form-control input-group-field" placeholder="Age" 
				value="{{selectedUserObj.age}}"readonly/>
				</div>
				<div class="form-group">
					<label for="name" class="group-label">Sex</label>
					<input type="text" class="form-control input-group-field" placeholder="Sex" value="{{selectedUserObj.gender}}" readonly/>
				</div>

				<br/>
				<br/>

				<div class="title-card-sub">User Condition</div>
				<br/>
				<div class="form-group">
					<label for="name" class="group-label">Phase</label>
					<input type="text" class="form-control input-group-field" placeholder="Phase" 
					value="{{selectedUserObj.condition.stage}}" readonly/>
				</div>
				<div class="form-group">
					<label for="name" class="group-label">PMP</label>
					<input type="text" class="form-control input-group-field" placeholder="PMP" 
					value="{{selectedUserObj.condition.pmp}}"readonly/>
				</div>
				<div class="form-group">
					<label for="name" class="group-label">ECOG</label>
					<input type="text" class="form-control input-group-field" placeholder="ECOG" 
					value="{{selectedUserObj.condition.ecog}}"readonly/>
				</div>
				<div class="form-group">
					<label for="name" class="group-label">ER</label>
					<input type="text" class="form-control input-group-field" placeholder="ER" 
					value="{{selectedUserObj.condition.er}}"readonly/>
				</div>
				<div class="form-group">
					<label for="name" class="group-label">PR</label>
					<input type="text" class="form-control input-group-field" placeholder="PR" 
					value="{{selectedUserObj.condition.pr}}"readonly/>
				</div>
				<div class="form-group">
					<label for="name" class="group-label">HER2</label>
					<input type="text" class="form-control input-group-field" placeholder="HER2" 
					value="{{selectedUserObj.condition.her2}}"readonly/>
				</div>
				<div class="form-group">
					<label for="name" class="group-label">Tumour Size</label>
					<input type="text" class="form-control input-group-field" placeholder="Tumour Size" 
					value="{{selectedUserObj.condition.tumourSize}}"readonly/>
				</div>
				<!--div class="form-group">
					<label for="name">Nodal Status</label>
					<input type="text" class="form-control input-group-field" placeholder="Nodal Status" 
					value="{{selectedUserObj.pmp}}"readonly/>
				</div-->
				<div class="form-group">
					<label for="name" class="group-label">Node Number</label>
					<input type="text" class="form-control input-group-field" placeholder="Node Number"
					value="{{selectedUserObj.condition.nodalStatus}}" readonly/>
				</div>
				<!--div class="form-group">
					<label for="name">Stage</label>
					<input type="text" class="form-control input-group-field" placeholder="Stage" 
					value="{{selectedUserObj.stage}}" readonly/>
				</div-->
				<div class="form-group">
					<label for="name" class="group-label">Has cancer spread to other parts?</label>
					<input type="text" class="form-control input-group-field" placeholder="Has cancer spread to other parts?" value="{{selectedUserObj.condition.spreadToOtherParts}}" readonly/>
				</div>
				<div class="form-group">
					<label for="name" class="group-label">BRCA 1/2 Mutation</label>
					<input type="text" class="form-control input-group-field" placeholder="BRCA 1/2 Mutation" 
					value="{{selectedUserObj.condition.brcamutation}}" readonly/>
				</div>
				<div class="form-group">
					<label for="name" class="group-label">Surgery</label>
					<input type="text" class="form-control input-group-field" placeholder="Surgery" 
					value="{{selectedUserObj.condition.surgery}}" readonly/>
				</div>

				<div class="form-group">
					<label for="name" class="group-label">Chemotherapy</label>
					<input type="text" class="form-control input-group-field" placeholder="Chemotherapy"
					value="{{selectedUserObj.condition.chemotherapy}}"  readonly/>
				</div>
				<div class="form-group">
					<label for="name"class="group-label">Hormones</label>
					<input type="text" class="form-control input-group-field" placeholder="Hormones" 
				value="{{selectedUserObj.condition.hormones}}" readonly/>
				</div>
				<!-- <div class="form-group">
					<label for="name">Targeted Tx HER2 Therapy</label>
					<input type="text" class="form-control input-group-field" placeholder="Targeted Tx HER2 Therapy" value="{{selectedUserObj.pmp}}" readonly/>
				</div>
				<div class="form-group">
					<label for="name">Targeted Tx CDK 4/6 Inhibitor</label>
					<input type="text" class="form-control input-group-field" placeholder="Targeted Tx CDK 4/6 Inhibitor" value="{{selectedUserObj.pmp}}" readonly/>
				</div>
				<div class="form-group">
					<label for="name">Targeted Tx PARP 4/6 Inhibitor</label>
					<input type="text" class="form-control input-group-field" placeholder="Targeted Tx PARP 4/6 Inhibitor" value="{{selectedUserObj.pmp}}" readonly/>
				</div> -->
				<div class="form-group">
					<label for="name" class="group-label">Immunotherapy</label>
					<input type="text" class="form-control input-group-field" placeholder="Immunotherapy"
					value="{{selectedUserObj.condition.immunotherapy}}"  readonly/>
				</div>
				<div class="form-group">
					<label for="name" class="group-label">Radiotherapy</label>
					<input type="text" class="form-control input-group-field" placeholder="Radiotherapy"
					value="{{selectedUserObj.condition.radiotherapy}}"  readonly/>
				</div>
				<div class="form-group"> 
					<button (click)="goBack($event)" class="button-small-active">Back</button>
				</div>
			</form>
		</div>​
	</div>
</div>
