<div class="container" id="#destination">
	<mat-tab-group>
	  <mat-tab label="About CTC">
	  		<p>Clinical research is a vital part of health care. Clinical trials and research studies increase our knowledge about cancer and help find improved treatments and better outcomes for people affected cancer and their families.
			</p>

			<p>Clinical trials show whether new approaches to cancer prevention, screening, diagnosis and treatment work better than those currently used and whether they are safe. If a clinical trial proves that a cancer treatment is better thatn an existing option, it may become the new standard care for cancer patients in the future.</p>
	  </mat-tab>
	  <mat-tab label="Donate">
	  </mat-tab>
	  <mat-tab label="Our team">
	  </mat-tab>
	  <mat-tab label="Contact us">
	  </mat-tab>
	</mat-tab-group>
</div>
