html, body {
  font-family: "Open Sans";
}

.stepper {
	max-width: 700px;
	margin: auto;
	margin-top: 4em;
	padding-left: 1%;
}

/deep/ .stepper	.mat-step-icon {
	border-color: #a168f2;
	background-color: #FCD8E2;
	color: white;
	margin-right: 0 !important;
}

/deep/ .stepper	.mat-step-icon-not-touched {
	margin-right: 0 !important;
}
/deep/ .stepper	.mat-step-label{
	position: relative;
    top: 40px;
    left: -45px;
    text-align: center;
    text-overflow: inherit;
    min-width: 50px;
    max-width: 70px;
    overflow: inherit;
    white-space: pre-line;
}
/deep/ .stepper	.mat-horizontal-stepper-header{
	padding: 0;
	overflow: unset;
}

/deep/ .stepper .mat-stepper-horizontal-line{
	margin: 0 0px 0 -50px;
	border-top-width: 3px;
}

/deep/ .stepper .mat-step-header .noEvent {
    pointer-events: none !important;
}
.button{
	height: 50px;
	min-width: 310px;
	border: 3px solid #FCD8E2;	
	border-radius: 25px;
	background-color: #FFFFFF;
	font-weight: 600;
	line-height: 24px;
	color: rgba(0,0,0,0.87);
}

.title-card {
	color: #4A4A4A;
	font-family: "Open Sans";
	font-size: 42px;
	font-weight: bold;
	line-height: 57px;
}

p {
	color: #4A4A4A;
	font-size: 17px;
	line-height: 22px;
}

input, input-group-field {
	height: 56px;
	width: 360px;
	border: 1px solid #767676;
	border-radius: 4px;
	background-color: #FFFFFF;
	margin: 1rem 0;
}
.text-center {
	text-align: center;
}

/* Small only */
@media screen and (max-width: 39.9375em) {
	/deep/ .stepper	.mat-horizontal-stepper-header-container {
			margin: 0 0 3rem 3rem;
	}
}

/* Medium and up */
@media screen and (min-width: 40em) {
	/deep/ .stepper	.mat-horizontal-stepper-header-container {
			margin: 0 0 3rem 0;
			height: 125px;
	}

	.button { 
		width: 310px;
	}
}

/* Large and up */
@media screen and (min-width: 64em) {
	/deep/ .stepper .mat-stepper-horizontal-line{
		margin: 0 0px 0 -72px;
		border-top-width: 2px;
	}
}


