html, body {
	font-family: 'Open Sans', sans-serif;
}

.title-card-sub {
	color: #4A4A4A;
	font-family: 'Open Sans', sans-serif;
	font-size: 36px;
	font-weight: bold;
	line-height: 57px;
}

p {
	color: #4A4A4A;
	font-size: 17px;
	line-height: 22px;
}

.input-group-field {
	height: 56px;
	border: 1px solid #767676;
	border-radius: 4px;
	background-color: #FFFFFF;
	margin: 1rem 0;
}

.button{
	height: 50px;
	border: 3px solid #FCD8E2;	
	border-radius: 25px;
	background-color: #FFFFFF;
	font-weight: 600;
	line-height: 24px;
	color: rgba(0,0,0,0.87);
	margin: 1rem 0;
}

/* Medium and up */
@media screen and (min-width: 40em) {
	.button { 
		width: 310px;
	}
	.input-group-field {
		width: 310px;
	}
}