<div class="title-card">Create Account</div>
<p>Already have an account? Click <a href="/login.component.html">here </a>to login.</p>

<div class="row">
	<!-- Shows -->
	<div class="large-6 columns"> 
		<form>
			<div class="row">
					<div class="large-12 column">
						<mat-form-field>
				            <input matInput placeholder="First name" formControlName="firstname" required>
				        </mat-form-field>
					</div>
					<div class="large-12 column">
						<mat-form-field>
				            <input matInput placeholder="Email" formControlName="email" required>
				        </mat-form-field>
					</div>
					<div class="large-12 column">
						<mat-form-field>
				            <input matInput placeholder="Password" formControlName="password" required>
				        </mat-form-field>
					</div>
			</div>
		</form>
	</div>
	<div class="large-6 columns"> 
		<form>
			<div class="row">
					<div class="large-12 column">
						<mat-form-field>
				            <input matInput placeholder="Last name" formControlName="lastname" required>
				        </mat-form-field>
					</div>
					<div class="large-12 column">
						<mat-form-field>
				            <input matInput placeholder="Re-type email address" formControlName="email" required>
				        </mat-form-field>
					</div>
					<div class="large-12 column">
						<mat-form-field>
				            <input matInput placeholder="Re-type password" formControlName="password" required>
				        </mat-form-field>
					</div>
			</div>
		</form>
	</div>

	<div>
	    <button mat-button matStepperNext class="button">CREATE ACCOUNT</button>
	</div>
</div>
