html, body {
	font-family: 'Open Sans', sans-serif;
}
.title-card-main {
	color: #4A4A4A;
	font-family: 'Open Sans', sans-serif;
	font-size: 42px;
	font-weight: bold;
	line-height: 57px;
}

p {
	color: #4A4A4A;
	font-size: 17px;
	line-height: 22px;
}

input-group-field {
	height: 56px;
	width: 360px;
	border: 1px solid #767676;
	border-radius: 4px;
	background-color: #FFFFFF;
	margin: 1rem 0;
}

.button{
	height: 50px;
	border: 3px solid #FCD8E2;	
	border-radius: 25px;
	background-color: #FFFFFF;
	font-weight: 600;
	line-height: 24px;
	color: rgba(0,0,0,0.87);
}

.active-button {
	background-color: #FCD8E2;
}
input[type="checkbox"]{
	height: 16px;	width: 16px;	background-color: #474679;
}

/* Medium and up */
@media screen and (min-width: 40em) {
	.button { 
		width: 310px;
	}
}
.material-icons {
	vertical-align: text-bottom;
}
input[type="checkbox"] {
	vertical-align: text-top;
}