<div [formGroup]="form">
	<div class="title-card-sub">Log in</div>
	<div class="row">
	    <div class="cloumns large-12 small-12">
	        <!--mat-form-field [ngClass]="input-group-field">
	            <input matInput placeholder="Email Address" formControlName="email" required>
	        </mat-form-field-->
	        <div class="large-12 column">
				<input class="input-group-field" type="text" placeholder="Email Address" required>
			</div>
	    </div>
	</div>
	<div class="row">
	    <div class="cloumns large-12 small-12">
	        <!--mat-form-field [ngClass]="input-group-field">
	            <input matInput placeholder="Password" formControlName="password" required>
	        </mat-form-field-->
	        <div class="large-12 column">
				<input class="input-group-field" type="text" placeholder="Password" required>
			</div>
	    </div>
	</div>
	<div>
	    <button mat-button matStepperNext class="button">LOG IN</button>
	    <!--button type="submit" class="button" (click)="onGoogleLogin(MatHorizontalStepper)">Login with Google</button-->
	</div>
</div>