<div class="container large-12 small-12">
	<div class="title-card-sub">Log in</div>
	<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
		<div class="cloumns large-12 small-12">
			<!-- EMAIL FIELD -->
			<div class="form-group">
			  <input type="email" formControlName="emailAddress" class="form-control input-group-field" placeholder="Email address" />
			  <div *ngIf="f.emailAddress.invalid && f.emailAddress.touched" class="text-danger">
				<small *ngIf="f.emailAddress.errors.required">Email address is required.</small>
				<small *ngIf="f.emailAddress.errors.email">Email is invalid</small>
			  </div>
			</div>
		</div>
		<div class="cloumns large-12 small-12">
			<!-- PASSWORD FIELD -->
			<div class="form-group">
				<input type="password" formControlName="pwd" class="form-control input-group-field" placeholder="Enter password" />
				<div *ngIf="f.pwd.invalid && f.pwd.touched" class="text-danger">
					<small *ngIf="f.pwd.errors.required">Password is required.</small>
					<small *ngIf="f.pwd.errors.minlength">Password is invalid.</small>
				</div>
			</div>
		</div>
		<div class="large-12 small-12 text-center">
			<button mat-button matStepperNext class="button" (click)="login()" [disabled]="loginForm.invalid">LOG IN</button>
		</div>
	</form>
</div>
