.container{
	max-width: 700px;
}
	
#background {
    width: 100%; 
    height: 100%; 
}

.stretch {
    width:100%;
}

.rectangle-area {
	min-height: 1px;
}

.rectangle {
	height: 21.49%;
	width: 26.35%;	
	background-color: 
	#D8D8D8;
}