<!--h4 *ngIf="!user">Welcome {{user}}</h4-->
<div class="container welcome-container"> 
    <div *ngIf="true">
        <div class="large-12 small-12 cloumn">
            <mat-radio-group aria-label="Select an option">Who is this profile for?
                <br/>
                <div class="row">
                    <div class="large-3 column">
                      <mat-radio-button (click)="check($event,option)" value="myslef"
                      >Myself</mat-radio-button>
                      <!--[ngModel]="{checked: model.person == 'self'}" (ngModelChange)="model.person == 'self'"-->
                    </div>
                    <div class="large-3 column">
                      <mat-radio-button (click)="check($event,option)" value="someone"
                      >Someone else</mat-radio-button>
                      <!--[ngModel]="{checked: model.person == 'other'}" (ngModelChange)="model.person == 'other'"-->
                    </div>
                    <div class="large-6 column"></div>
                </div>
            </mat-radio-group>
        </div>
        <br/>

        <div class="large-12 small-12 cloumn">
            <div class="labelClass">Postcode</div>
            <div class="large-12">
                <mat-form-field class="example-full-width optionList">
                    <input #todo matInput (change)="check($event,todo.value, 'postCode')" type="number" name="todo" class="input-group-field" placeholder="Postcode" required minlength="4" maxlength="4">
                </mat-form-field>
            </div>
        </div>
        <br/>
        <br/>
        <div class="labelClass">Date of birth</div>
        <div class="large-12 small-12 cloumn">
            <select name="Day" class="select" #DD (change)="onDaySelect($event, DD.value)">
                <option>Day</option>
                <option *ngFor="let day of day" [value]="day">{{day}}</option>
            </select>
            <select name="Month" class="select" #MM (change)="onMonthSelect($event, MM.value)">
                <option>Month</option>
                <option *ngFor="let month of month" [value]="month">{{month}}</option>
            </select>
            <select name="Year" class="select" #YY (change)="onYearSelect($event, YY.value, 'dob')">
                <option>Year</option>
                <option *ngFor="let year of year" [value]="year">{{year}}</option>
            </select>
        </div>
        <br/>
        <div class="large-12 small-12 cloumn">
            <div class="sub-title">Gender</div>
            <select name="gender" class="select" #gender (change)="check($event,gender.value, 'gender')">
                <option>Select</option>
                <option value="M">Male</option>
                <option value="F">Female</option>
            </select>
        </div>
        <hr>

        <div class="row">
            <span> All fields are mandatory</span>
            <button mat-button matStepperNext class="button-small" (click)="onNext($event)">NEXT</button>
        </div>
    </div>
</div>

<!-----Paru code----->
<!--div [formGroup]="form">
    
    <div class="row">
        <div class="cloumns large-12 small-12">
            <mat-radio-group aria-label="Select an option">Who is this profile for?
              <mat-radio-button value="myslef">Myself</mat-radio-button>
              <mat-radio-button value="someone">Someone else</mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
    <div class="row">
        <div class="cloumns large-12 small-12">
            <mat-form-field>
                <input matInput placeholder="postcode" formControlName="postcode" required>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="cloumns large-12 small-12">
            <mat-form-field>
                <mat-label>Date of birth</mat-label>
                <mat-select>
                    <mat-option value="date">
                        date
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="cloumns large-12 small-12">
            <mat-form-field>
                <mat-label>Gender</mat-label>
                <mat-select>
                    <mat-option value="male">
                        male
                    </mat-option>
                    <mat-option value="female">
                        female
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</div-->
