<div [formGroup]="myGroup"> 
    <div *ngIf="true">
        <div class="large-12 small-12 cloumn">
        	<mat-radio-group aria-label="Select an option">Who is this profile for?
                <br/>
                <div class="row">
                    <div class="large-3 column">
            		  <mat-radio-button value="myslef">Myself</mat-radio-button>
                    </div>
                    <div class="large-3 column">
            		  <mat-radio-button value="someone">Someone else</mat-radio-button>
                    </div>
                    <div class="large-6 column"></div>
                </div>
    		</mat-radio-group>
        </div>
        <br/>

        <div class="large-12 small-12 cloumn">
            <div class="labelClass">Postcode</div>
            <div class="large-12 column">
                <input class="input-group-field" type="text" placeholder="Postcode" required>
            </div>
        </div>
        <br/>
        <br/>
        <div class="labelClass">Date of birth</div>
        <div class="large-12 small-12 cloumn">
            <select name="Day">
                <option>Day</option>
            </select>
            <select name="Month">
                <option>Month</option>
            </select>
            <select name="Year">
                <option>Year</option>
            </select>
        </div>
        <br/>
        <div class="large-12 small-12 cloumn">
            <div class="sub-title">Gender</div>
            <select name="Gender">
                <option>Select</option>
                <option value="option-1">Male</option>
                <option value="option-2">Female</option>
            </select>
        </div>
        <hr>

        <div class="row">
            <span> All fields are mandatory</span>
            <button mat-button matStepperNext class="nextButton">Next</button>
        </div>
    </div>
</div>

<!-----Paru code----->
<!--div [formGroup]="form">
    
    <div class="row">
        <div class="cloumns large-12 small-12">
            <mat-radio-group aria-label="Select an option">Who is this profile for?
              <mat-radio-button value="myslef">Myself</mat-radio-button>
              <mat-radio-button value="someone">Someone else</mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
    <div class="row">
        <div class="cloumns large-12 small-12">
            <mat-form-field>
                <input matInput placeholder="postcode" formControlName="postcode" required>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="cloumns large-12 small-12">
            <mat-form-field>
                <mat-label>Date of birth</mat-label>
                <mat-select>
                    <mat-option value="date">
                        date
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="cloumns large-12 small-12">
            <mat-form-field>
                <mat-label>Gender</mat-label>
                <mat-select>
                    <mat-option value="male">
                        male
                    </mat-option>
                    <mat-option value="female">
                        female
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</div-->
