.welcome-container{
	html, body {
		font-family: 'Open Sans', sans-serif;
	}

	.title-card-sub {
		color: #4A4A4A;
		font-family: 'Open Sans', sans-serif;
		font-size: 36px;
		font-weight: bold;
		line-height: 57px;
	}

	p {
		color: #4A4A4A;
		font-size: 17px;
		line-height: 22px;
	}

	.input-group-field {
		height: 56px;
		border: 1px solid #767676;
		border-radius: 4px;
		background-color: #FFFFFF;
		margin: 1rem 0;
	}

	/* Medium and up */
	@media screen and (min-width: 40em) {
		.button { 
			width: 310px;
		}
		.input-group-field {
			width: 310px;
		}
		.matInputField .matInput {
			width: 310px;
		}
	}
	.button {
		height: 50px;
		border: 3px solid #FCD8E2;	
		border-radius: 25px;
		background-color: #FFFFFF;
		font-weight: 600;
		line-height: 24px;
		color: rgba(0,0,0,0.87);
	}

	.button-small {
		height: 50px;	width: 165px;	border-radius: 25px;	background-color: #FCD8E2;	box-shadow: 0 1px 2px 0 #9B9B9B; float:right;
	}
	.matInputField .matInput {
	    height: 56px;
	    border: 1px solid #767676;
	    border-radius: 4px;
	    background-color: #FFFFFF;
	    margin: 1rem 0;
	}
	.columns > .mat-radio-group{
		width: 100%;
	}

	.columns > mat-radio-button mat-accent

	.sub-title {
		color: rgba(0,0,0,0.87);
		font-family: 'Open Sans', sans-serif;
		font-size: 23.69px;	
		line-height: 32px;
	}

	.select {
		    margin: 1rem 0.5rem;
	}
	select {
		height: 6%;	width: 24%;	border: 1px solid #767676;	border-radius: 4px;	background-color: #FFFFFF; margin: 1rem 0;
	}

	.input-group-field {
		margin: 1rem 0.5rem;
	}
}
/deep/ .welcome-container {

	/deep/ .mat-form-field-underline {
		display: none;
	}

	/deep/ .mat-form-field-subscript-wrapper {
		display: none;
	}

	/deep/ .mat-form-field-type-mat-select {

		border: 1px solid grey;
	    border-radius: 5px;

			/deep/ .mat-form-field-wrapper {
				padding : 0.5rem 0;
			}

			/deep/ .mat-form-field-infix {
				padding: 0.55rem;
    			margin: 0 0 0 0.50rem;
			}
	}

	.mat-form-field-label-wrapper {
		display: none;
	}

	.mat-form-field-infix {
		padding: 0;
	}
	.mat-form-field {
		height: 4rem;
	}

}

