<div class="row">
	<!-- Shows -->
	<div class="large-6 columns"> 
		<form>
			<div class="row">
					<div class="large-6 column">
						<input class="input-group-field" type="text" placeholder="First name">
					</div>
					<div class="large-6 column">
						<input class="input-group-field" type="text" placeholder="Email address">
					</div>
					<div class="large-6 column">
						<input class="input-group-field" type="text" placeholder="Password">
					</div>
			</div>
		</form>
	</div>
	<div class="large-6 columns"> 
		<form>
			<div class="row">
					<div class="large-6 column">
						<input class="input-group-field" type="text" placeholder="Last name">
					</div>
					<div class="large-6 column">
						<input class="input-group-field" type="text" placeholder="Re-type email address">
					</div>
					<div class="large-6 column">
						<input class="input-group-field" type="text" placeholder="Re-type   password">
					</div>
			</div>
		</form>
	</div>

	<button class="button expanded">LOG IN</button>
</div>
