	<form>
		<div class="form-icons">
			<h2>LOG IN</h2>

			<div class="input-group">
	      <span class="input-group-label">
	      </span>
	      <input class="input-group-field" type="text" placeholder="Email address">
	    </div>

	    <div class="input-group">
	      <span class="input-group-label">
	      </span>
	      <input class="input-group-field" type="text" placeholder="Password">
	    </div>

		</div>

		<div>Forgot password?</div>

	  <button class="button expanded">LOG IN</button>
	</form>
