form {
  .form-icons {
    text-align: center;

    h4 {
      margin-bottom: 1rem;
    }

    .input-group{
      height: 2rem;
    }
    .input-group-label {
      background-color: blue;
      border-color: blue;
    }

    .input-group-field {
      border-color: blue;
    }

    .fa {
      color: white;
      width: 1rem; // makes the width of icon labels equal
    }
  }
}

