html, body {
  font-family: "Open Sans";
}

button {
	margin: 10px;
}

.title-card-sub {
	color: #4A4A4A;
	font-family: "Open Sans";
	font-size: 36px;
	font-weight: bold;
	line-height: 57px;
}

p {
	color: #4A4A4A;
	font-size: 17px;
	line-height: 22px;
}

.input-group-field {
	height: 56px;
	width: 310px;
	border: 1px solid #767676;
	border-radius: 4px;
	background-color: #FFFFFF;
	margin: 1rem 0;
}

.button {
	height: 50px;
	width: 310px;
	border: 3px solid #FCD8E2;	
	border-radius: 25px;
	background-color: #FFFFFF;
	font-weight: 600;
	line-height: 24px;
	color: rgba(0,0,0,0.87);
}

.nextButton {
	height: 50px;	width: 165px;	border-radius: 25px;	background-color: #FCD8E2;	box-shadow: 0 1px 2px 0 #9B9B9B; float:right;
}
.matInputField .matInput {
    height: 56px;
    width: 310px;
    border: 1px solid #767676;
    border-radius: 4px;
    background-color: #FFFFFF;
    margin: 1rem 0;
}
.columns > .mat-radio-group{
	width: 100%;
}

.columns > mat-radio-button mat-accent

.sub-title {
	color: rgba(0,0,0,0.87);
	font-family: "Open Sans";	
	font-size: 23.69px;	
	line-height: 32px;
}

select {
	height: 6%;	width: 24%;	border: 1px solid #767676;	border-radius: 4px;	background-color: #FFFFFF; margin: 1rem 0;
}