<div class="trials" #trials>

	<h3>Breast cancer trials</h3>
	<br/>

	<div class="trials-table" *ngIf="!showTrials">
		<mat-tab-group>
		  <mat-tab label="List view">
		  		<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

					  <ng-container matColumnDef="Study title">
					    <th mat-header-cell *matHeaderCellDef> Study title </th>
					    <td mat-cell *matCellDef="let element"> 
					    <a [routerLink]="['/individualtrial',element.id] ">{{element.summary}}</a> </td>
					  </ng-container>
					  <!-- href="#/individualtrial/{{element.id}} -->

					  <ng-container matColumnDef="Interventions">
					    <th mat-header-cell *matHeaderCellDef> Interventions </th>
					    <td mat-cell *matCellDef="let element"> {{element.interventions}} </td>
					  </ng-container>

					  <ng-container matColumnDef="Phase">
					    <th mat-header-cell *matHeaderCellDef> Phase </th>
					    <td mat-cell *matCellDef="let element"> <span class="phase-bgColor">{{element.phase}}</span> </td>
					  </ng-container>

					  <ng-container matColumnDef="Sponsor">
					    <th mat-header-cell *matHeaderCellDef> Sponsor </th>
					    <td mat-cell *matCellDef="let element"> {{element.sponsor}} </td>
					  </ng-container>

					  <ng-container matColumnDef="Sex">
					    <th mat-header-cell *matHeaderCellDef> Sex </th>
					    <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
					  </ng-container>

					  <ng-container matColumnDef="Location">
					    <th mat-header-cell *matHeaderCellDef> Location </th>
					    <td mat-cell *matCellDef="let element"> {{element.location}} </td>
					  </ng-container>

					  <ng-container matColumnDef="Save">
					    <th mat-header-cell *matHeaderCellDef> Save </th>
					    <td mat-cell *matCellDef="let element"> <i class="material-icons" id="{{element.id}}"
					    	(click)="saveTrial($event, element.id)"> star_border </i></td>
					  </ng-container>

					  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
					  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
				</table>

		  </mat-tab>
		  <mat-tab label="Map view">

		  </mat-tab>

		</mat-tab-group>

	</div>	

	<div *ngIf="showTrials">
		<p>Unfortunately, there are no clinical trials that match the information you have entered. This might be because of the trial’s eligibility criteria, or more information is required. </p>

		<p>Our tool is designed to provide a comprehensive list of trials for which you might be eligible for. Please discuss clinical trial eligibility with your clinician. They will be able to provide you with more detailed feedback and recommendations for clinical trials available to you and the right trial to apply for. Please note, you might be required to do further testing to meet eligibility criteria.</p>

		<p>We also recommend you update your profile page as your condition changes, or if you have received new treatments. You can sign up to notifications to be informed when new trials are uploaded to the site. </p>
	</div>
</div>