<div class="BC-container">
	<mat-tab-group>
	  <mat-tab label="What is breast cancer">
		<div id="background" class="row home-page-img">
			<img src="././assets/images/tabOneImg.png" class="stretch" alt="tabOneImg.png">

			<mat-expansion-panel>
			    <mat-expansion-panel-header>
					<mat-panel-title>
					  What is breast cancer ?
					</mat-panel-title>
				<!--mat-panel-description>
				  This is a summary of the content
				</mat-panel-description-->
			  	</mat-expansion-panel-header>

			  	<p>Cancer occurs when cells grow in an abnormal way and multiple uncontrollably, invading healthy tissue.</p>

			  	<p>Normally, cells in our body are replaced through the development of new cells. This process is regulated by our genes. Sometimes, the genes are abnormal (mutated) meaning this process is disrupted and the cells may grow and divide rapidly, forming a cancerous or malignant tumour. The cancer cells may spread to surrounding tissue or other parts of the body.
			  	</p>

			  	<p>Breast cancer is the abnormal growth of cells lining the breast lobules (milk producing glands) and breast ducts (passages that drain milk from the lobules towards the nipple). The cells grow uncontrollably, forming an invasive breast cancer. The cells have the potential to spread to other parts of the body. There are different types of breast cancer, which may require different treatments. The three main subtypes of breast cancer include hormone receptor positive breast cancer, HER2 receptor positive breast cancer and triple negative breast cancer. Breast cancer can occur in women and men.
	          	</p>

			</mat-expansion-panel>

			<mat-expansion-panel>
				<mat-expansion-panel-header>
					<mat-panel-title>
					  What are clinical trials?
					</mat-panel-title>
				</mat-expansion-panel-header>
				<p>Clinical research is a vital part of health care. Clinical trials and research studies increase our knowledge about cancer and help find improved treatments and better outcomes for people affected cancer and their families.
				</p>

				<p>Clinical trials show whether new approaches to cancer prevention, screening, diagnosis and treatment work better than those currently used and whether they are safe. If a clinical trial proves that a cancer treatment is better thatn an existing option, it may become the new standard care for cancer patients in the future.</p>
			</mat-expansion-panel>

			<mat-expansion-panel>
				<mat-expansion-panel-header>
					<mat-panel-title>
					  Why should you participate in clinical trials?
					</mat-panel-title>
				</mat-expansion-panel-header>
				<p>Clinical research is a vital part of health care. Clinical trials and research studies increase our knowledge about cancer and help find improved treatments and better outcomes for people affected cancer and their families.
				</p>

				<p>Clinical trials show whether new approaches to cancer prevention, screening, diagnosis and treatment work better than those currently used and whether they are safe. If a clinical trial proves that a cancer treatment is better thatn an existing option, it may become the new standard care for cancer patients in the future.</p>
			</mat-expansion-panel>
			
		</div>

	  </mat-tab>
	  <mat-tab label="Breast cancer treatments">
	  	<div id="background" class="row home-page-img">
			<img src="././assets/images/tabTwoImg.png" class="stretch" alt="tabTwoImg.png">
		</div>
		<div class="title-BC">Breast Cancer Treatments</div	>
		<div>
		<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
		 	<ng-container matColumnDef="Chemotherapy">
			   	 <th mat-header-cell *matHeaderCellDef> Chemotherapy </th>
			   	 <td mat-cell *matCellDef="let element" [innerHTML]="element.Chemotherapy"> 
			   	 </td>
		  	</ng-container>

		  	<ng-container matColumnDef="Targeted therapy">
			   	 <th mat-header-cell *matHeaderCellDef> Targeted therapy </th>
			   	 <td mat-cell *matCellDef="let element" [innerHTML]="element.Targetedtherapy"> 
			   	 </td>
		  	</ng-container>

		  	<tr mat-header-row *matHeaderRowDef="displayedColumnsOne"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumnsOne;"></tr>
		</table>
		</div>
		<div>
		<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
			<ng-container matColumnDef="Harmonaltherapy">
				<th mat-header-cell *matHeaderCellDef> Harmonal therapy </th>
				<td mat-cell *matCellDef="let element" [innerHTML]="element.Harmonaltherapy"></td>
			</ng-container>
			<ng-container matColumnDef="Immunotherapy">
					<th mat-header-cell *matHeaderCellDef> Immunotherapy </th>
					<td mat-cell *matCellDef="let element" [innerHTML]="element.Immunotherapy"></td>
			</ng-container>
			<ng-container matColumnDef="Other">
					<th mat-header-cell *matHeaderCellDef> Other </th>
					<td mat-cell *matCellDef="let element" [innerHTML]="element.Other"></td>
			</ng-container>
			<tr mat-header-row *matHeaderRowDef="displayedColumnsTwo"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumnsTwo;"></tr>
		</table>
		</div>
	  </mat-tab>
	</mat-tab-group>
</div>