.stretch {
	margin-bottom: 2rem;
	width: 100%;
}
/deep/ .BC-container {

	.mat-tab-header {
		border-bottom: none;
	}
	.mat-tab-label-container {
		max-width: 1140px;
		margin: auto;
	}
	
	/* Medium and up */
	@media screen and (min-width: 40em){
		.mat-tab-list {
			margin: 0 6rem;
			margin-top: 1rem;
		}
	}
	.mat-tab-list {

		.mat-tab-label {
			color: #2A2A46;	
			font-family: 'Open Sans', sans-serif;
			font-size: 17px;
			font-weight: 600;
			line-height: 23px;
			padding: 0;
			margin: 0 1rem;
			min-width: 85px;
		}
		
		.mat-tab-label-active .mat-tab-label-content{
			color: #2A2A46;
		}
		.mat-ink-bar {
			height: 0.2rem;
			background-color: #2A2A46;
		}
	}

	.mat-expansion-panel {
		max-width: 47rem;
		margin: 2rem 3rem;
		box-shadow: none !important;
		border-bottom: none ;

		.mat-expansion-panel-header {
			padding: 0;
			height: auto !important;
			box-shadow: none !important;
			border-bottom: 3px solid #3FE0C4;
		}
		.mat-expansion-panel-body{
			padding-top: 2rem;
			padding: none !important;
		}
		.mat-content {
			color: #474679;
			font-family: 'Open Sans', sans-serif;
			font-size: 38px;
			font-weight: 600;
			line-height: 52px;

			.mat-expansion-indicator {
				height: 15px;
				width: 25px;
				background-color: #3FE0C4;
			}

			.mat-expansion-panel-header-title {
				color: #474679;
				font-family: 'Open Sans', sans-serif;
				font-size: 38px;
			}

			.mat-expansion-indicator::after {
				height: 15px;
				width: 25px;
				color: #3FE0C4;
			}
		}

	}

}

/deep/ .BC-container {

	table.mat-table {
	    border-spacing: 0;
	    max-width: 1140px;
	    margin: 2rem auto;
	}
	th.mat-header-cell {
	    text-align: center;
	    color: white;
	    font-size: 16px;
		font-weight: 400;
		width: 1000px;
	}

	tr.mat-header-row {
		height: 45px;
		background: #47476d;
		border: 1px solid #47476d;
	}

	th.mat-header-cell {
		text-align: center;
		color: white;
		font-size: 16px;
		font-weight: 400;
	}

	td.mat-cell {
		font-size: 15px;
		padding: 0.5rem;
		border: 1px solid #47476d;
	}

	tr.mat-footer-row, tr.mat-row {
		height: auto;
		vertical-align: initial;
	}

	td ul {
		list-style: none;
	}
}

.title-BC {
	color: #474679;
	font-family: 'Open Sans', sans-serif;
	font-size: 45px;
	font-weight: 600;
	line-height: 61px;
	text-align: center;
}

/* Small only */
@media screen and (max-width: 39.9375em) {
	/deep/ .container {

		.mat-tab-list {
			margin: 0 ;
			margin-top: 1rem;

		}
	}
}