div {
	color: #4A4A4A;
	/*font-family: "Open Sans";*/
}

.title {
	color: rgba(0,0,0,0.87);
	font-size: 36px;
	line-height: 49px;
}
.myAcc-container {
	max-width: 1140px;
    margin: auto;
}
.myAccount {
	max-width: 68%;
    margin: auto;
}
/deep/ .myAcc-container {

	.mat-tab-label-container {
		
	}
	.mat-tab-body-wrapper {
		max-width: 1140px;
    	margin: auto;
	}
	.mat-tab-body-wrapper {
		display: contents;
	}
	
	.mat-tab-header {
		border-bottom: none;
	}
	.mat-tab-list {
		margin: 0 6rem;
		margin-top: 1rem;

		.mat-tab-label {
			color: #2A2A46;
			font-size: 17px;
			line-height: 23px;
			padding: 0;
	    	margin: 0 1rem;
	    	min-width: 85px;
		}
		
		.mat-tab-label-active{
			color: #2A2A46;
		}

		.mat-ink-bar {
		    height: 0.2rem;
		    background-color: #2A2A46;
		}
	}

	@media screen and (max-width: 39.9375em) {
		.mat-tab-list {
			margin: 0 1rem;
		}
	}

	.mat-tab-body-content {
		padding: 2rem;
	}
	.mat-tab-body {
		position: inherit;
		display: none;
	}
	.mat-tab-body.mat-tab-body-active {
		display: block;
	}
}

.input-group-field {
	height: 45px;
	border: 1px solid #767676;
	border-radius: 4px;
	background-color: #FFFFFF;
	margin: 1rem 0 0;
	font-family: "Open Sans";
}

label {
	color: rgba(0,0,0,0.6);
	font-size: 11px;
	letter-spacing: 0.1px;	line-height: 15px;
}

p {
	margin-bottom: 0;
	font-size: 16px;
}

input[type="checkbox"] {
    height: 16px;
    width: 16px;
    background-color: #474679;
}

/* Medium and up */
@media screen and (min-width: 40em) {
	.input-group-field {
		width: 340px;
    	height: 45px;
	}
}
/* Small only */
@media screen and (max-width: 39.9375em) {
	/deep/ .container {

		.mat-tab-list {
			margin: 0 ;
			margin-top: 1rem;

		}
	}
	.myAccount {
		max-width: 100% !important;
	}
}


/*my condition styles*/
.display-flex{
	display : flex;
	list-style-type: none;
}

.flexItem-width {
	width : 50%;
}

.select {
	    margin: 1rem 0.5rem;
}
.material-icons {
	margin: 5px;
	padding-top: 13px;
}
select {
	height: 6%;	
	border: 1px solid #767676;	
	border-radius: 4px;	
	background-color: #FFFFFF; 
}

.date-select {
	width: 24%
}

.active, .accordion:hover {
	background: white !important;
}
.question {
	margin: 2rem 0;
    padding: 10px;
    border: 1px solid #979797;
    background-color: #FFFFFF;	
}
.phase-bgColor {
    background: pink;
    padding: 0.6rem 0.9rem;
    border-radius: 50%;
    text-align: center;
    margin-right: 15px;
}
.optionList {
	color: rgba(0,0,0,0.87);
    font-family: "Open Sans";
    font-size: 16px;
    letter-spacing: 0.51px;
    line-height: 1.5rem;
}

.option-subTitle {
	min-height: 7rem;
	margin: 1rem 0;
}

.optionList-width {
	width: 140%;
	margin: 1rem 0;
}

[type=checkbox] {
    margin: 1rem 1rem 0 0;
    padding-top: 1rem;
    height: 18px;
    width: 18px;
    text-align: center;
    vertical-align: sub;
}

[type=text]:focus {
	border: none;
}

.left-float {
	float: left;
}


/deep/ .question {

	.mat-expansion-panel-header {
		height: 30px;
	}
	.mat-expansion-panel-header-title {
		margin: 10px 0;
	}	
 
}

mat-radio-button {
	padding: 0.5rem 0;
}

/* Medium and up */
@media screen and (min-width: 40em) {
	.button { 
		width: 310px;
	}
	.example-full-width {
		margin-right: 5rem;
	}
}

/* Small only */
@media screen and (max-width: 39.9375em) {
	.display-flex {
	    display: contents;
	}

	.column:last-child:not(:first-child), .columns:last-child:not(:first-child) {
	    float: left;
	}
	.mytrials {
		max-width: 100% !important;
	}
}


/*styles for My trilas*/ 
.mytrials {
	max-width: 87%;
	margin: auto;
}
.mytrials h3 {
	margin: 3rem 0 0;
}

.mytrials h6 {
	color: #4A4A4A;
	font-size: 24px;
	font-weight: 600;
	line-height: 33px;
}

/deep/ .mytrials {

	.mat-tab-header, .mat-tab-nav-bar {
		border-bottom: 1px solid black;
	}

	.mat-tab-body-wrapper {
		padding: 1rem 0;
	}

	tr.mat-header-row {
		height: 45px;
    	background: #47476d;
	}

	th.mat-header-cell {
	    text-align: center;
	    color: white;
	    font-size: 16px;
    	font-weight: 400;
    	padding: 0px 8px;
	    border-right: 1px solid white;
	}

	td.mat-cell {
		font-size: 15px;
		padding: 0.5rem;
	}

	.phase-bgColor {
	    background: pink;
	    padding: 0.8rem 1rem;
	    border-radius: 50%;
	    text-align: center;
	}

	tr.mat-footer-row, tr.mat-row {
		height: auto;
	}

	.mat-column-Save, .mat-column-Sex {
		text-align: center;
	}
}

/* Small only */
@media screen and (max-width: 39.9375em) {
	/deep/ .mytrials {

		.mat-tab-list {
			margin: 0 ;
			margin-top: 1rem;

		}
	}
}

/deep/  .invalid-trials {

	tr.mat-header-row {
	    height: 45px;
	    background-color: #9B9B9B;
	}
	td.mat-cell {
		background-color: #DBDBDB;
	}
}

.mytrials .mytrials-table {
    margin-top: 2rem;
}

/*common classes*/
.paddingLeft {
	padding-left: 1rem;
}
.floatRight {
	float: right;
}


/*accordion*/
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\02C5';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    font-size: 25px;
}

.active:after {
    content: "\02DF";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
